* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

html{
    height: 500vh;

   justify-content: center;
   align-items: center;
}

.container{

    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header{
    width: 100%;
    padding: 60px 4%;
   position: fixed;
   top: 0;
   left: 0;
   transition: .7s;
}

header.rolagem{
    background-color: rgba(255, 0, 0, 0.26);
    padding: 50px 4%;
}
header.rolagem a, header.rolagem i{
    color: black;
}


header i{
    font-size: 30px;
    color: white;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0px 40px;
}

header ul li a{
    color: white;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url(resources/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.banner h1{
    font-size: 4em;
}




.carnesMenu {
   
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Ajuste a distância entre os itens */
    padding: 100px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

.carnesMenu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: contents;
}

.carnesMenu li {
    background-color: #f0f0f0; /* Background color */
    padding: 20px; /* Padding */
    text-align: center;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377); /* Box shadow */
    font-size: 14px; /* Font size */
    width: 100%; /* Full width of the column */
}