*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  html{
      height: 100%;
      font-family: "Kanit", sans-serif;
     justify-content: center;
     align-items: center;
     background-image: url('resources/fundo\ cinza.png');
     background-repeat: no-repeat;
  }
  
  .container{
  
      max-width: 1280px;
      margin: auto;
  }
  
  .flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
  
  }
  
  .logo {
    background: url(resources/deL.png);
    width: 250px;
    height: 250px;
    background-size: cover;
    margin-bottom: 5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Kanit", sans-serif;
    background-color: rgba(128, 70, 27, 1);
    height: 14vh;
    position: fixed;
    z-index: 9999;
    transition: top 0.3s;
    width: 100%;
}

.itens {
    list-style: none;
    display: flex;
}

.itens li {
    letter-spacing: 1px;
    margin-left: 15px;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-bottom: 0;
}

.navbar ul li {
    list-style: none;
    position: relative;
    color: #fff;
}

.navbar ul li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 90%;
    left: 0;
    background-color: #f4d35f;
    transition: transform .6s;
    transform: scaleX(0);
    transform-origin: right;
}

.navbar ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}

.navbar ul li a {
    text-decoration: none;
}
  
.navbar.rolagem{
      background-color: rgba(255, 0, 0, 1);
      padding: 10px 4%;
  }
 .navbar.rolagem a, .navbar.rolagem i{
    font-family: "Kanit", sans-serif;
      color: black;
  }
  
  
  header i{
    font-family: "Kanit", sans-serif;
      font-size: 30px;
      color: black;
  }
  header ul{
      list-style-type: none;
  }
  header ul li{
      display: inline-block;
      margin: 0px 40px;
  }
  
  header ul li a{
      color: black;
      text-decoration: none;
  }
  
  .bannerC{
      height: 70vh;
      background-image: url();
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  span{
    color: red;
  }
  
  .banner h1{
    font-family: "Kanit", sans-serif;
      font-size: 4em;
  }
  
  /* Menu Carnes */
  .carnesMenu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      position: relative;
      z-index: 1;
      margin-top: 200px;
  }

  /* Linhas de divisão do menu */
  .upper-row,
  .lower-row {
      display: flex;
      width: 100%;
      justify-content: center;
  }
  
  /* Configuração dos itens */
  .carne {
      position: relative;
      background-image: url('resources/fundomadeirada.png');
      background-size: cover;
      background-position: center;
      color: white; 
      font-size: 24px; 
      text-align: center; 
      line-height: 290px; 
      height: 280px; 
      width: calc(30% - 40px); 
      margin: 20px;
     border-style: solid;
     border-color: black;
     border-radius: 20px;
  }
  .carnePremium {
    position: relative;
    background-image: url('resources/fundomadeirada.png');
    background-size: cover;
    background-position: center;
    color: white; 
    font-size: 24px; 
    text-align: center; 
    line-height: 290px; 
    height: 280px; 
    width: calc(30% - 40px); 
    margin: 20px;
    border-style: solid;
     border-color: black;
     border-radius: 20px;
}
.carneExoticas {
    position: relative;
    background-image: url('resources/fundomadeirada.png');
    background-size: cover;
    background-position: center;
    color: white; 
    font-size: 24px; 
    text-align: center; 
    line-height: 290px; 
    height: 280px; 
    width: calc(30% - 40px); 
    margin: 20px;
    border-style: solid;
     border-color: black;
     border-radius: 20px;
}
.carneAves {
    position: relative;
      background-image: url('resources/fundomadeirada.png');
    background-size: cover;
    background-position: center;
    color: white; 
    font-size: 24px; 
    text-align: center; 
    line-height: 290px; 
    height: 280px; 
    width: calc(30% - 40px); 
    margin: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

/* Hoovers */
.carne:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #fffefe;
  }
.carnePremium:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #fffefe;
  }
.carneExoticas:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #fffefe;
  }
  .carneAves:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #fffefe;
  }
  .carne-item span {
      position: relative;
      z-index: 2; 
  }
  .carne-item i {
      font-size: 48px; 
  }
  .carne-item button {
      padding: 10px 20px; 
      background-color: rgba(255, 255, 255, 0.8); 
      border: none; 
      border-radius: 5px; 
      color: #333; 
      font-size: 16px; 
      cursor: pointer; 
      transition:  0.3s ease; 
  }
  .carne-item button:hover {
      background-color: rgba(255, 255, 255, 1); 
  }
  .h2carnes{
    margin-top: 150px;
    background-color: rgba(128, 70, 27, 1);
    width: 62%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
  }

  /* Accordion */
  .duvidasFrequentes{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 900px;
    margin-left: 350px;
    background-image: url(resources/fundomadeirada.png);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
  }

  .h2duvidas{
    margin-top: 2px;
    color: white;
  }
  .accordion {
            background-color: #f1f1f1;
            margin: 10px;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid #ccc;
        }
        
        .accordion-header {
            background-color: #ddd;
            padding: 10px;
            cursor: pointer;
            position: relative;
        }
        
        .accordion-header::after {
            content: '\25BC'; /* código da seta direita */
            font-size: 0.8em;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            transition: transform 0.7s ease;
        }
        
        .accordion.active .accordion-header::after {
            transform: translateY(-50%) rotate(180deg);
        }
        
        .accordion-content {
            padding: 10px;
            display: none;
        }
  

/* Formulário */
.form{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    width: 50%;
    background-image: url(resources/fundomadeirada.png);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.h2form{
    color: white;
}
  label{
    color: white;
  }
 /* Carroussel */
    .carousel {
        margin-top: 500px;
        display: block;
        position: relative;
        max-width: 850px;
        width: 100%;
    }
    
    .carousel-inner {
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    
    .carousel-item {
        min-width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item img {
        width: 100%;
        display: block;
    }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-size: 18px;
    }
    
    .prev {
        left: 0;
    }
    
    .next {
        right: 0;
    }


    .mapada{
        margin-top: 50px;
        display: flex;
        align-content: center;
        justify-content: center;
    }


      /* Rodapé */
  .rodape {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

  .rodape p {
    font-family: "Kanit", sans-serif;
    margin: 0;
    font-size: 14px;
  }

  /* Radio Button */

  .custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .custom-radio:hover input~.checkmark {
    background-color: #ccc;
  }
  
  .custom-radio input:checked~.checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-radio input:checked~.checkmark:after {
    display: block;
  }
  
  .custom-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }